<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Queuefir - Offboard</title>
</head>
<body>
<header th:replace="layout :: site-header" />
<h1>Offboarding:</h1>
<div th:if="${session.user?.isLoggedIn() && session.user?.isSeekingKefir()}">
    <form method="post" th:object="${offBoardForm}" th:action="@{/users/offboard}">
        <legend>Would you like to be added to the list of people sharing kefir in your area or to delete your account?</legend>
        <input id="convert"
               type="radio"
               name="convertingToSharing"
               th:value="true" />
        <label for="convert">Convert to sharing.</label>
        <input id="delete"
               type="radio"
               name="convertingToSharing"
               th:value="false" />
        <label for="delete">Delete my account.</label>
        <span class="formError"
              th:if="${#fields.hasErrors('convertingToSharing')}"
              th:errors="*{convertingToSharing}">You must choose
				       an option.</span>
        <br>
        <div th:if="${session.user?.getPartnerId().equals(session.user?.getId())}">
            <input id="reenter"
                   type="radio"
                   name="reenteringQueue"
                   th:value="true" />
            <label for="reenter">I did not receive kefir.</label>
            <span class="formError"
                  th:if="${#fields.hasErrors('reenteringQueue')}"
                  th:errors="*{reenteringQueue}">You must choose
				       an option.</span>
            <br>
        </div>

        <input type="submit" value="Submit"/>
    </form>
</div>
<footer th:replace="layout :: site-footer" />
</body>


</html>