<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Queuefir - Offboard</title>
</head>
<body>
<header th:replace="layout :: site-header" />
<h1>Offboarding:</h1>
<div th:if="${session.user?.isLoggedIn() && session.user?.isSeekingKefir()}">
    <form method="post" th:object="${offBoardForm}" th:action="@{/users/offboard}">
        <legend>Would you like to be added to the list of people sharing kefir in your area or to delete your account?</legend>
        <input id="convert"
               type="radio"
               name="convertToSharing"
               th:value="true"
               required />
        <label for="convert">Convert to sharing.</label>
        <input id="delete"
               type="radio"
               name="convertToSharing"
               th:value="false"
               required />
        <label for="delete">Delete my account.</label>
        <span class="formError"
              th:if="${#fields.hasErrors('convertToSharing')}"
              th:errors="*{convertToSharing}">You must choose
				       an option.</span>
        <br>
        <input type="submit" value="Submit"/>
    </form>
</div>
<footer th:replace="layout :: site-footer" />
</body>


</html>