<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
	<head th:replace="layout :: site-head">
		<title>Queuefir - Registration</title>
	</head>
	<body>
		<header th:replace="layout :: site-header" />
			<h1>Register for Queuefir.</h1>
			<form method="post" th:object="${registerForm}"
				th:action="@{/users/register}">
				<div> 
					<label for="username">Username:</label>
				</div>
				<input id="username" 
				       type="text" 
				       name="username" 
				       th:value="*{username}" 
				       placeholder="Enter your username..." 
				       required />
				<span class="formError"
				      th:if="${#fields.hasErrors('username')}"
				      th:errors="*{username}">Invalid
				      username.</span>
				<div> 
					<label for="fullName">Full name:</label>
				</div>
				<input id="fullName" 
				       type="text" 
				       name="fullName" 
				       th:value="*{fullName}" 
				       placeholder="Enter your full name..." 
				       required />
				<span class="formError"
				      th:if="${#fields.hasErrors('fullName')}"
				      th:errors="*{fullName}">Invalid name.</span>
				<div> 
					<label for="username">ZIP Code:</label>
				</div>
				<input id="zipCode" 
				       type="number" 
				       name="zipCode" 
				       th:value="*{zipCode}" 
				       placeholder="Enter your ZIP code..." 
				       required />
				<span class="formError"
				      th:if="${#fields.hasErrors('zipCode')}"
				      th:errors="*{zipCode}">Invalid ZIP code.</span>
				<legend>Are you sharing or looking to receive
					kefir grains?</legend>
				<input id="true" 
				       type="radio" 
				       name="SeekingKefir" 
				       th:value="*{SeekingKefir}" 
				       required />
				<label for="true">Sharing</label>
				<input id="false" 
				       type="radio" 
				       name="SeekingKefir" 
				       th:value="*{SeekingKefir}" 
				       required />
				<label for="false">Receiving</label>
				<span class="formError"
				       th:if="${#fields.hasErrors('SeekingKefir')}"
				       th:errors="*{SeekingKefir}">You must choose
				       an option.</span>
				<div> 
					<label for="contactInfo">Preferred
						contact method and details:</label>
				</div>
				<textarea id="contactInfo" 
				       type="text" 
				       name="contactInfo" 
				       th:value="*{contactInfo}" 
				       placeholder="Enter your preferred
				       contact information." 
				       rows=5
				       cols=40
				       required></textarea>
				<span class="formError"
				      th:if="${#fields.hasErrors('contactInfo')}"
				      th:errors="*{contactInfo}">Invalid
				      contact information.</span>
				<div>
					<label for="password"
					       th:value="*{password}">Password:</label>
				</div>
				<input id="password" 
				       type="password" 
				       name="password"
				       placeholder="Enter your password..." 
				       th:value="*{password}"
				       required />
				<span class="formError"
				      th:if="${#fields.hasErrors('password')}"
				      th:errors="*{password}">Invalid password.</span> 
				<div>
					<label for="confirmPassword"
					       th:value="*{confirmPassword}">Confirm
					       your password:</label>
				</div>
				<input id="confirmPassword" 
				       type="password" 
				       name="confirmPassword"
				       placeholder="Enter your password again..." 
				       th:value="*{confirmPassword}"
				       required />
				<span class="formError"
				      th:if="${#fields.hasErrors('confirmPassword')}"
				      th:errors="*{confirmPassword}">Invalid password.</span> 
				<br>
				<input type="submit" value="Register"/> 
				<p>
				<a href="login.html" th:href="@{/users/login}">Already a Member ? Sign in Now.</a>
			</form>

			<footer th:replace="layout :: site-footer" />
	</body>


</html>
