<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout :: site-head">
		<title>Queuefir - Status</title>
	</head>
	<body>
		<header th:replace="layout :: site-header" />
        <h1>Your Queuefir Status:</h1>
			<div id="current-status">
				<span th:utext="${session?.currentStatus}">Please
				register in order to participate in the kefir
				queue!</span>
			</div>
			<div th:if="${session.user?.isLoggedIn()}">
				<form method="post" th:object="${statusForm}" th:action="@{/users/status}">
                <br>
				<legend>Have you successfully made the exchange?</legend>
				<input id="yes"
					   type="radio"
					   name="transferredKefir"
					   th:value="true"
					   required />
				<label for="yes">Yes, I was able to make contact.</label>
					<br>
				<input id="no"
					   type="radio"
					   name="transferredKefir"
					   th:value="false"
					   required />
				<label for="no">No, I was unable to make contact. (Note: this will move to the next person, if one is available.)</label>
				<span class="formError"
					  th:if="${#fields.hasErrors('transferredKefir')}"
					  th:errors="*{transferredKefir}">You must choose
				       an option.</span>
				<br>
					<input type="submit" value="Submit"/>
				</form>
			</div>
			<footer th:replace="layout :: site-footer" />
	</body>


</html>
