<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
	<head th:replace="layout :: site-head">
		<title>Queuefir - Update your account</title>
	</head>
	<body>
		<header th:replace="layout :: site-header" />
        <h1>Update your Queuefir account details.</h1>

			<form method="post" th:object="${updateForm}" th:action="@{/users/update}">
				<div>
					<label for="fullName">Enter new full name:</label>
				</div>
				<input id="fullName" 
				       type="text" 
				       name="fullName" 
				       th:value="*{fullName}" 
				       placeholder="Enter your new full name..."
				       />
				<span class="formError"
				      th:if="${#fields.hasErrors('fullName')}"
				      th:errors="*{fullName}">Invalid name.</span>
				<div>
					<label for="zipCode">Enter new ZIP Code:</label>
				</div>
				<input id="zipCode"
				       type="text"
				       name="zipCode" 
				       th:value="*{zipCode}" 
				       placeholder="Enter your new ZIP code..."
				       />
				<span class="formError"
				      th:if="${#fields.hasErrors('zipCode')}"
				      th:errors="*{zipCode}">Invalid ZIP code.</span>
				<legend>Are you sharing or looking to receive
					kefir grains?</legend>
				<input id="true" 
				       type="radio" 
				       name="SeekingKefir" 
				       th:value="receiving"
				       />
				<label for="true">Receiving</label>
				<input id="false" 
				       type="radio" 
				       name="SeekingKefir" 
				       th:value="sharing"
				       />
				<label for="false">Sharing</label>
				<span class="formError"
				       th:if="${#fields.hasErrors('SeekingKefir')}"
				       th:errors="*{SeekingKefir}">You must choose
				       an option.</span>
				<div> 
					<label for="contactInfo">New preferred
						contact method and details:</label>
				</div>
				<textarea id="contactInfo" 
				       type="text" 
				       name="contactInfo" 
				       th:value="*{contactInfo}" 
				       placeholder="Enter your new preferred
				       contact information." 
				       rows=5
				       cols=40>
				</textarea>
				<span class="formError"
				      th:if="${#fields.hasErrors('contactInfo')}"
				      th:errors="*{contactInfo}">Invalid
				      contact information.</span>
				<div>
					<label for="password"
					       th:value="*{password}">New password:</label>
				</div>
				<input id="password" 
				       type="password" 
				       name="password"
				       placeholder="Enter a new password..."
				       th:value="*{password}" />
				<span class="formError"
				      th:if="${#fields.hasErrors('password')}"
				      th:errors="*{password}">Invalid password.</span> 
				<div>
					<label for="confirmPassword"
					       th:value="*{confirmPassword}">Confirm
					       your new password:</label>
				</div>
				<input id="confirmPassword" 
				       type="password" 
				       name="confirmPassword"
				       placeholder="Enter your new password again..."
				       th:value="*{confirmPassword}"
				       />
				<span class="formError"
				      th:if="${#fields.hasErrors('confirmPassword')}"
				      th:errors="*{confirmPassword}">Invalid password.</span> 
				<br>
				<input type="submit" value="Update"/>
				<p>
			</form>
		</form>
		<form method="post" th:action="@{/users/delete}">
			<input type="submit" value="Delete Account"/>
		</form>
			<footer th:replace="layout :: site-footer" />
	</body>


</html>
